.card {
  background-color: #ffffff;
  color: #282828;
  padding: 5px;
  margin: 0;
}
.card__title {
  font-size: 14px;
}
.card__description {
  font-size: 12px;
}
.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 3px;
}
